{% extends '::base.html.twig' %}
{% block title %}PIG{% endblock %}

{% block menubar %}
    {% for servicio in servicios %}

        <li><a href="/servicios/show/{{servicio.id}}">{{ servicio.id }}</a></li>

    {% endfor %}
{% endblock %}

{% block body %}
<table class="table table-striped">


  {% for servicio in servicios %}
  {% if servicio.id == id %}


  <tr>
      <td>Persona de contacto</td>
      <td>{{ servicio.personaContacto }}</td>
  </tr>

  <tr>
    <td>CP</td>
    <td>{{ servicio.telefonoContacto }}</td>
  </tr>

  <tr>
    <td>Municipio</td>
    <td>{{ servicio.fecha.date }}</td>
  </tr>

  <tr>
    <td>Provincia</td>
    <td>{{ servicio.observaciones }}</td>
  </tr>

  <tr>
    <td>Nº Cuenta bancaria</td>
    <td>{{ servicio.estado }}</td>
  </tr>
  {% endif %}
  {% endfor %}
</table>

{% endblock %}
