{% extends '::base.html.twig' %}
{% block title %}PIG{% endblock %}

{% block menubar %}
    {% for servicio in servicios %}

        <li><a href="/servicios/show/{{servicio.id}}">{{ servicio.id }}</a></li>

    {% endfor %}
{% endblock %}

{% block body %}
<table class="table table-striped">


  {% for servicio in servicios %}
  {% if servicio.id == id %}


  <tr>
      <td>Persona de contacto</td>
      <td>{{ servicio.personaContacto }}</td>
  </tr>

  <tr>
    <td>Telefono de Contacto</td>
    <td>{{ servicio.telefonoContacto }}</td>
  </tr>

  <tr>
    <td>Fecha de Registro</td>
    <td>{{ servicio.fecha.date }}</td>
  </tr>

  <tr>
    <td>Observaciones</td>
    <td>{{ servicio.observaciones }}</td>
  </tr>

  <tr>
    <td>Estado del Servicio</td>
    <td>{{ servicio.estado }}</td>
  </tr>

  <tr>
    <td>Direccion del Servicio</td>
    <td>{{ servicio.direccion }}</td>
  </tr>

  <tr>
    <td>Tipo de Servicio</td>
    <td>{{ servicio.tipo }}</td>
  </tr>

  {% endif %}
  {% endfor %}
</table>

{% endblock %}
