<table>

  <tr>
    <td>Nombre</td>
    <td>Apellidos</td>
    <td>Direccion</td>
    <td>Fecha de alta</td>
    <td>Puesto</td>
    <td>Nº Cuenta bancaria</td>
    <td>Nº Seguridad Social</td>
    <td>DNI</td>
    <td>Fecha de nacimiento</td>
    <td>Teléfono</td>
    <td>Estado</td>
  </tr>

    <tr>
      <td>{{ datos[0].nombre }}</td>
      <td>{{ datos[0].apellidos }}</td>
      <td>{{ datos[0].direccion }}</td>
      <td>{{ datos[0].fechaAlta.date }}</td>
      <td>{{ datos[0].puesto }}</td>
      <td>{{ datos[0].noCuentaBanco }}</td>
      <td>{{ datos[0].noSeguridadSocial }}</td>
      <td>{{ datos[0].dNI }}</td>
      <td>{{ datos[0].fechaNac.date }}</td>
      <td>{{ datos[0].telefono }}</td>
      <td>{{ datos[0].estado }}</td>
    </tr>
</table>

<table>
  {% set counter = 1 %}
  {% for horas in datos[1] %}

  <tr>
    <td>Horario {{counter}}</td>
    <td>{{ datos[1].fecha.date }}</td>
    {% set counter = counter + 1 %}
  </tr>

  {% endfor %}
</table>
