{% extends 'PIGBundle:Clientes:index.html.twig' %}
{% block title %}PIG{% endblock %}

{% block menubar %}

    {% for cliente in datos[0] %}
        <li><a href="/clientes/show/{{cliente.id}}">{{ cliente.nombre }}</a></li>

    {% endfor %}

      <a href="/clientes/new"><button class="btn btn-default">Insertar Cliente</button></a>
{% endblock %}

{% block body %}
<table class="table table-striped">
  {% for cliente in datos[0] %}
  {% if cliente.id == id %}
  <tr>
    <td>Nombre</td>
    <td>{{ cliente.nombre }}</td>
  </tr>
  <tr>
    <td>CIF</td>
    <td>{{ cliente.cIF }}</td>
  </tr>

  <tr>
      <td>Domicilio Fiscal</td>
      <td>{{ cliente.domicilioFiscal }}</td>
  </tr>

  <tr>
    <td>CP</td>
    <td>{{ cliente.cP }}</td>
  </tr>

  <tr>
    <td>Municipio</td>
    <td>{{ cliente.municipio }}</td>
  </tr>

  <tr>
    <td>Provincia</td>
    <td>{{ cliente.provincia }}</td>
  </tr>

  <tr>
    <td>Nº Cuenta bancaria</td>
    <td>{{ cliente.noCuentaBancaria }}</td>
  </tr>

  <tr>
    <td>Persona de contacto</td>
    <td>{{ cliente.personaContacto }}</td>
  </tr>

  <tr>
    <td>Teléfono de contacto</td>
    <td>{{ cliente.telefonoContacto }}</td>
  </tr>

  <tr>
    <td>Teléfono móvil de contacto</td>
    <td>{{ cliente.telefonoMovilContacto }}</td>
  </tr>

  <tr>
    <td>Razón social</td>
    <td>{{ cliente.razonSocial }}</td>
  </tr>


  {% set counter = 1 %}
  {% for servicio in datos[1] %}
    {% if servicio.cliente.id == id %}
      <tr>
        <td>Servicio {{counter}}</td>
        <td>{{ servicio.fecha|date("d/m/y  g:i a") }}</td>
        {% set counter = counter + 1 %}
      </tr>
    {% endif %}
  {% endfor %}
  {% endif %}
  {% endfor %}

</table>
{% endblock %}
