{% extends '::base.html.twig' %}
{% block title %}PIG{% endblock %}

{% block menubar %}
    {% for servicio in servicios %}

        <li><a href="/clientes/show/{{servicio.cliente.id}}">{{ servicio.cliente.nombre }}</a></li>

    {% endfor %}
{% endblock %}

{% block body %}
<table class="table table-striped">

  {% set limite = 1 %}

  {% for servicio in servicios %}
  {% if servicio.cliente.id == id %}
  {% if limite == 1 %}
  {% set limite = 0 %}
  <tr>
    <td>Nombre</td>
    <td>{{ servicio.cliente.nombre }}</td>
  </tr>
  <tr>
    <td>CIF</td>
    <td>{{ servicio.cliente.cIF }}</td>
  </tr>

  <tr>
      <td>Domicilio Fiscal</td>
      <td>{{ servicio.cliente.domicilioFiscal }}</td>
  </tr>

  <tr>
    <td>CP</td>
    <td>{{ servicio.cliente.cP }}</td>
  </tr>

  <tr>
    <td>Municipio</td>
    <td>{{ servicio.cliente.municipio }}</td>
  </tr>

  <tr>
    <td>Provincia</td>
    <td>{{ servicio.cliente.provincia }}</td>
  </tr>

  <tr>
    <td>Nº Cuenta bancaria</td>
    <td>{{ servicio.cliente.noCuentaBancaria }}</td>
  </tr>

  <tr>
    <td>Persona de contacto</td>
    <td>{{ servicio.cliente.personaContacto }}</td>
  </tr>

  <tr>
    <td>Teléfono de contacto</td>
    <td>{{ servicio.cliente.telefonoContacto }}</td>
  </tr>

  <tr>
    <td>Teléfono móvil de contacto</td>
    <td>{{ servicio.cliente.telefonoMovilContacto }}</td>
  </tr>

  <tr>
    <td>Razón social</td>
    <td>{{ servicio.cliente.razonSocial }}</td>
  </tr>

  {% endif %}
  {% endif %}
  {% endfor %}
</table>

<table class="table table-striped">

  {% set contador = 1 %}

  {% for servicio in servicios %}
  {% if servicio.cliente.id == id %}
  <tr>
    <td>Servicio {{ contador }}</td>
    <td>{{ servicio.Fecha.date }}</td>
  </tr>

  {% set contador = contador + 1 %}

  {% endif %}
  {% endfor %}
</table>


{% endblock %}
