{% extends 'EmpleadasBundle:Default:index.html.twig' %}
{% block title %}PIG{% endblock %}



{% block body %}
<table class="table table-striped">

  <tr>
    <td>Nombre</td>
    <td>{{ trabajadora.nombre }}</td>
  </tr>

  <tr>
    <td>Apellidos</td>
    <td>{{ trabajadora.apellidos }}</td>
  </tr>

  <tr>
    <td>Direccion</td>
    <td>{{ trabajadora.direccion }}</td>
  </tr>

  <tr>
    <td>Fecha de alta</td>
    <td>{{ trabajadora.fechaAlta.date }}</td>
  </tr>

  <tr>
    <td>Puesto</td>
    <td>{{ trabajadora.puesto }}</td>
  </tr>

  <tr>
    <td>Nº Cuenta bancaria</td>
    <td>{{ trabajadora.noCuentaBanco }}</td>
  </tr>

  <tr>
    <td>Nº Seguridad Social</td>
    <td>{{ trabajadora.noSeguridadSocial }}</td>
  </tr>

  <tr>
    <td>DNI</td>
    <td>{{ trabajadora.dNI }}</td>
  </tr>

  <tr>
    <td>Fecha de nacimiento</td>
    <td>{{ trabajadora.fechaNac.date }}</td>
  </tr>

  <tr>
    <td>Teléfono</td>
    <td>{{ trabajadora.telefono }}</td>
  </tr>

  <tr>
    <td>Estado</td>
    <td>{{ trabajadora.estado }}</td>
  </tr>
</table>


{% endblock %}
